@page
@model Student_exam.Pages.ExamsModel
@{
    ViewData["Title"] = "لیست امتحانات ";
}

<h2>@ViewData["Title"]</h2>

<div class="exam-container">
   

    <div class="exam-list">
        @foreach (var exam in Model.Exams)
        {
            <div class="exam-item">
                <h4>@exam.ExamName</h4>
                <p>Start Date: @exam.StartDate.ToString("yyyy-MM-dd HH:mm")</p>
                <p>Time Limit: @exam.Duration minutes</p>
            </div>
        }
    </div>


    <a href="/AddExam" class="btn btn-success">اضافه کردن امتحان جدید</a>
</div>

