@page
@model Student_exam.Pages.ExamSubmittedModel
@{
}

<h2>@ViewData["Title"]</h2>

<div class="alert alert-success">
    <h4>عملیات مورد نظر با موفقیت انجام شد!</h4>
    <p>با تشکر از شما برای تکمیل آزمون. پاسخ های شما ثبت شده است.</p>
</div>

<a href="/Home/Index" class="btn btn-primary">Back to Home</a>